$typecsset-base-font-size: $base-font-size;
$typecsset-base-line-height: $base-line-height;

$susy: layout(12 inside-static $susyGrid);

body {
    @include container;
}

@include keyframes(scroll) {
    0% {
        background-position: -2000px 0, -1500px 0, -1000px 0;
    }
    100% {
        background-position: 0 0, 0 0, 0 0;
    }
}


#page-header {
    @include full;
    height: 200px;
    #page-header-clouds {
        display: block;
        height: 200px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        //background: url("../images/sketch/clouds.svg") 0 0;
        background: url("../images/sketch/front.svg"), url("../images/sketch/middle.svg"), url("../images/sketch/back.svg"), transparent;
        //@include svg-background-image("sketch/clouds");
        @include animation("scroll 60s  linear infinite");
    }
}

#page-nav {}

#page-sidebar {
    @include span(first 4);
}

#page-main {
    @include span(last 8);
}

#page-footer {
    @include full;
}
